body {
  text-align: center;
  font-family: 'Arial', sans-serif;
  background-color: #b2d2df;
  color: black;
  margin: 0;
  padding: 0;
}

button {
  background-color: #E8C872;
  color: #000000;
  padding: 10px 15px;
  margin-right: 10px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

button:hover {
  background-color: #FFF3CF;
}

h2 {
  color: #000000;
}

p {
  color: #ffffff;
}